*.log
.dvt/
*novas*
./spyglass
./syn
syn/alib-52/tcbn28hpcplusbwp12t40p140lvtssg0p9v0c_ccs.db.alib
arch/MicrArch.drawio
syn/lib/tcbn28hpcplusbwp12t40p140lvtssg0p9v0c_ccs.db
syn/lib/tcbn28hpcplusbwp12t40p140lvtssg0p9v125c_ccs.db
syn/lib/tcbn28hpcplusbwp12t40p140lvtssg0p72v0c_ccs.db
syn/lib/tcbn28hpcplusbwp12t40p140lvtssg0p72v125c_ccs.db
syn/lib/tcbn28hpcplusbwp12t40p140lvtssg0p72vm40c_ccs.db
syn/lib/tcbn28hpcplusbwp12t40p140lvtssg0p81v0c_ccs.db
syn/WORK/plru_32-verilog.pvl
syn/WORK/PLRU_32.mr
syn/WORK/register_pkg.pvk
syn/WORK/risXv_macro.pvk
syn/WORK/plru_32-verilog.syn
syn/default.svf
